
<div class="row">
    <div class="span2">
        #{printSlip slip: _aDock.slips.get(0)/}
        #{printSlip slip: _bDock.slips.get(0)/}
        #{printSlip slip: _cDock.slips.get(0)/}
    </div>
</div>
<div class="row">
    <div class="span2">
        #{printSlip slip: _aDock.slips.get(1)/}
        #{printSlip slip: _bDock.slips.get(1)/}
        #{printSlip slip: _cDock.slips.get(1)/}
    </div>
</div>
<div class="row">
    <div class="span2">
        #{printSlip slip: _aDock.slips.get(2)/}
        #{printSlip slip: _bDock.slips.get(2)/}
        #{printSlip slip: _cDock.slips.get(2)/}
    </div>
</div>
<div class="row">
    <div class="span2">
        #{printSlip slip: _aDock.slips.get(3)/}
        #{printSlip slip: _bDock.slips.get(3)/}
        #{printSlip slip: _cDock.slips.get(3)/}
    </div>
</div>
<div class="row">
    <div class="span2">
        #{printSlip slip: _aDock.slips.get(4)/}
        #{printSlip slip: _bDock.slips.get(4)/}
        #{printSlip slip: _cDock.slips.get(4)/}
    </div>
</div>
